{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "semi": "off",
    "no-unused-vars": "off",
    "max-len": "off",
    "no-debugger": "off",
    "indent": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
